body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  padding: 0 15px;
  text-align: center;
  margin: 30px auto;
}

.wrapper {
  position: relative;
}

.card {
  box-shadow: -1px 4px 10px 5px rgba(0, 0, 0, 0.5);
  min-height: 300px;
  border-top: 30px solid #91817b;
  z-index: 1000;
  padding-bottom: 10px;
}

.card::after,
.card::before {
  content: "";
  width: 1px;
  position: absolute;
  color: black;
  top: 0px;
  height: 100%;
  background: red;
  opacity: 0.3;
}

.card::before {
  left: 43px;
}

.card::after {
  left: 38px;
}

.list {
  border-top: 2px solid #555555;
  font-size: 20px;
}

.footer {
  display: flex;
  position: absolute;
  bottom: -38px;
  left: 5px;
  width: 98%;
  background: #e1e1e1;
  box-shadow: -1px 4px 10px 1px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.footer::before {
  content: "";
  width: 100%;
  height: 10px;
  position: absolute;
  color: black;
  top: -12px;
  left: 0;
  background: #eeee;
  box-shadow: -1px 4px 10px 1px rgba(0, 0, 0, 0.5);
}

#navigation_btn {
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
}

.active {
  font-weight: bold;
}
