.todo_item {
    text-align: left;
    border-bottom: 1px dotted black;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.todo_item span {
    width: 75%;
    color: black;
}

#field{
    width: 80%;
    height: 35px;
    margin: 0 0 0 50px;
    padding: 0;
    border: none;
    line-height: 1;
}

#btn_delete {
    opacity: 0;
    background: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    
}

.todo_item:hover #btn_delete {
    opacity: 1;
}

.checkbox {
    margin: 10px;
}

.checkbox:checked+span {
    text-decoration: line-through;
    color: #AAAAAA;
}


